@font-face{
font-family: OpenSans;
src: url(fonts/OpenSans-Bold.ttf);
src: url(fonts/OpenSans-Regular.ttf);
}

html{
font-family: "OpenSans";
font-size: 62.5%;
}

body {
margin: 0 auto;
padding: 0;
width: 100%;

}

header {
width: 100%;
height: 960px;
margin: 0;
padding-top: 4.5rem;
padding-bottom: 11rem;
text-decoration: none;
position: relative;
color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
}

header::after, header::before  {
content: "";
width: 100%;
height: 100%;
display: block;
position: absolute;
top: 0;
left: 0;
}

header::after {
background: url(./img/football_1920.jpg) no-repeat;
background-size: cover;
background-position: center;
z-index: 0;
}

header::before {
background-color: #0a0e34;
opacity: 0.8;
z-index: 1;
}

@media (min-width: 746px) and (max-width: 1280px){
header::after {
background: url(./img/football_1280.jpg) no-repea
}
}

@media (max-width: 745px){
header::after {
background: url(./img/football_767.jpg) no-repeat;
}

header {
height: 570px;
}
}

.surface{
width: 190px;
margin-top: 0;
margin-bottom: 0;
z-index: 2;
}

.name{
width: 100%;
margin-top: 8rem;
padding: 0;
display: flex;
flex-direction: column;
z-index: 2;
}

.top_string{
padding: 0;
margin-top: 0;
margin-right: auto;
margin-bottom: 0;
margin-left: 19rem;
}

.lower_string{
padding: 0;
margin-top: 0rem;
margin-bottom: 0;
margin-left: 33.18vw;
display: block;
}

h1, h2, h3, .download_text p, .download_app_text p {
text-transform: uppercase;
}

h1{
font-size: 4.48vw;
margin: 0;
padding: 0;
font-stretch: wider;
letter-spacing: 0.8rem;
z-index: 2;
}

h2{
font-size: 7.2rem;
margin: 0;
padding: 0;
color: #c1c1c1;
letter-spacing: 0.6rem;
}

h3{
font-size: 3.6rem;
margin: 0;
padding: 0;
color: #c1c1c1;
letter-spacing: 0.2rem;
}

p{
font-size: 2.2rem;
margin: 0;
padding: 0;
}

.download{
display: flex;
flex-wrap: wrap;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;
z-index: 1;
}

.download a{
width: 310px;
height: 75px;
background-color: #5e42b0;
border-radius: 37px;
margin: 0 25px;
color: white;
display: flex;
text-decoration: none;
}

.ikon{
width: 50px;
margin-top:auto;
margin-right: 30px;
margin-bottom: auto;
margin-left: auto;
}

.download_ikon{
width: 105px;
display: flex;
}

.download_text{
padding-top: 1.2rem;
}

.download_text p{
padding: 0;
margin-top: 0.3rem;
margin-bottom: 0;
font-size: 1.4rem; 

}

.download_text p span{
font-weight: bold;
}

.footballer_block{
width: 100%;
display: flex;
padding-top: 9rem;
flex-direction: column;
align-items: flex-start;

position: relative;
}

.footballer_block .athlets{
box-sizing: border-box;
width: 100%;
color: #e7e7e7;
padding-left: 53%;
padding-right: auto;
}

.footballer_block  h3{
color: #c1c1c1;
}

.white {
width: 100%;
box-sizing: border-box;
padding-bottom: 9rem;
padding-top: 9rem;
padding-left: 53%;
padding-right: 10%;
order: 2;
}

.connection{
display: flex;
margin: 0;
}

.connection div{
box-sizing: border-box;
padding-bottom: 0;
margin: 0 1.4rem 0 0;
width: 1.5rem;
height: 3.8rem;
border-bottom: 3px solid blue;
}

.number{
font-size: 1.9rem;
font-weight: bold;
}


.footballer_block img, .footballer_block picture {
width: 565px;
top: 1rem;
right: 39%;
order: 1;
z-index: 999;
}

.grey{
box-sizing: border-box;
width: 100%;
background-color: #f6f4fa;
margin: 0;
padding-top: 1.8rem;
padding-bottom: 6rem;
padding-left: 53%;
padding-right: 10%;
order: 3;
}

.blue{
box-sizing: border-box;
width: 100%;
background-color: #5e42b0;
margin: 0;
padding-top: 5rem;
padding-bottom: 6.5rem;
padding-left: 53%;
padding-right: 10%;
order: 4;
}

.blue p{
color: #fff;
letter-spacing: 0.1rem;
}

.blue .connection div{
border-bottom: 3px solid white;
}

.basketballerballer_block{
width: 100%;
display: flex;
flex-direction: column;
position: relative;
}

.basketballerballer_block .athlets{
color: #e7e7e7;
padding-bottom: 5rem;
padding-top: 10rem;
padding-left: 10%;
padding-right: 50%;
}

.basketballerballer_block .white {
padding-bottom: 8rem;
padding-top: 3rem;
padding-left: 10%;
padding-right: 50%;
order: 2;
}

.basketballerballer_block .grey {
padding-top: 3rem;
padding-bottom: 8rem;
padding-left: 10%;
padding-right: 50%;
order: 2;
}

.basketballerballer_block .blue {
background-color: #090c35;
padding-bottom: 7rem;
padding-left: 10%;
padding-right: 50%;
order: 2;
}

.basketballerballer_block img, .basketballerballer_block picture{
width: 990px;
top: 1rem;
right: 6rem;
order: 2;
}

.basketballerballer_block .grey .connection{
margin-bottom: 2rem;
}

.sportsmens_block{
width: 100%;
display: flex;
flex-wrap: wrap;
position: relative;
margin: 0;
padding: 0;
}

.sportsmens_block p{
font-size: 2.2rem;
letter-spacing: 0.2rem;
}

.be_active {
width: 50%;
margin: 0;
padding: 0;
}

.be_active:nth-child(-n+1) img, .be_active:nth-child(-4n+4) img, .be_active:nth-child(-5n+5) img{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

.sportsmens_abzac{
margin-top: 10rem;
}

.sportsmens_zagolovok{
color: #e7e7e7;
}

.sportsmens_zagolovok, .sportsmens_abzac  {
margin-left: 13rem;
margin-right: 20rem;
}


.be_active:nth-child(-3n+3) .sportsmens_abzac, .be_active:nth-child(-3n+3) .sportsmens_zagolovok{
margin-left: 19rem;
margin-right: 13rem;
}

.be_active:nth-child(-3n+3) .sportsmens_abzac {
margin-top: 6rem;
margin-bottom: 6rem;
}

.be_active:nth-child(-2n+2), .be_active:nth-child(-3n+3), .be_active:nth-child(-6n+6){
display: flex;
flex-direction: column;
justify-content: center;
position: relative;
}

footer{
box-sizing: border-box;
width: 100%;
height: 960px;
margin: 0;
padding-top: 22rem;
padding-bottom: 6rem;
text-decoration: none;
position: relative;
color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
z-index: 1;
}


footer::after, footer::before  {
content: "";
width: 100%;
height: 100%;
display: block;
position: absolute;
top: 0;
left: 0;
}

footer::after {
background: url(./img/game_1920.jpg) no-repeat;
background-size: cover;
background-position: center;
z-index: 0;
}

footer::before {
background-color: #0a0e34;
opacity: 0.8;
z-index: 1;
}

@media (max-width: 745px){
footer{
height: 570px;
padding-top: 10rem;
padding-bottom: 0rem;
}

footer::after {
background: url(./img/game_767.jpg) no-repeat;
}
}

.download_app{
display: flex;
flex-wrap: wrap;
flex-basis: 2rem;
z-index:  1;
margin: 0;
}

.download_app_ikon {
width: 130px;
height: 130px;
background-color: #5e42b0;
border-radius: 25px;
display: flex;
margin-right: 2.8rem;
z-index: 1;
}

.download_app_ikon svg{
width: 100px;
z-index: 1;
margin: auto;
}

.download_app_text{
text-transform: uppercase;
margin: 0;
}

.download_app_text h2{
margin-bottom: 0;
}

.download_app_text p{
font-size: 3rem;
margin-top: -1rem;
}

.square_left, .square_right{
width: 168px;
height: 155px;
background-color: #5e42b0;
position: absolute;
z-index: 9999;
display: flex;
align-items: center;
top: calc(50% - 157px);
}

.square_left{
left: -84px;
}

.square_right{
right: -84px;
}

.square_left .connection, .square_right .connection{
width: auto;
margin: auto;
}

.square_left .connection div, .square_right .connection div{
border-bottom: 3px solid #999999;
width: 2rem;
color: white;
}


@media(max-width: 745px){

header {
padding-top: 3rem;
padding-bottom: 8rem;
}

.surface{
width: 135px;
}

.h1{
font-size: 6.2vw;
}

.top_string{
margin-left: 6%;
}

.lower_string{
padding: 0;
margin-top: 0rem;
margin-bottom: 0;
margin-left: 20%;
}

.download a{
margin-top: 15px;
width: 280px;
height: 35px;
border-radius: 17px;
}

.download{
width: 290px;
margin-left: auto;
margin-right: auto;
}

.ikon{
width: 30px;
margin-top:auto;
margin-right: 5px;
}

.download_text{
padding-top: 4px;
}

.download_text p{
margin-top: 0;
font-size: 1rem; 
}

.footballer_block img, .footballer_block picture{
margin: 0 auto;
width: 195px;
}  

h1{
font-size: 8.5vw;
letter-spacing: 0.2rem;
}

h2{
font-size: 14vw;
}

h3{
font-size: 7vw;
}

p{
font-size: 1.5rem;
}

.footballer_block {
padding-top: 1rem;
} 

.connection div {
height: 2.5rem;
} 

.square_left .connection div, .square_right .connection div{
margin: 0;
width: 1.5rem;
height: 2.2rem;
}

.number {
font-size: 1.4rem;
}

.basketballerballer_block img, .basketballerballer_block picture{
margin: 0 auto;
width: 300px;
}  

.sportsmens_block p{
font-size: 1.4rem;
}

.sportsmens_block h2{
font-size: 2.2rem; 
}

.download_app{
flex-wrap: none;
flex-direction: column;
flex-basis: auto;
}

.download_app_ikon {
width: 75px;
height: 75px;
display: flex;
border-radius: 15px;
margin: auto;
margin-bottom: 5rem;
}

.download_app_ikon svg{
width:60px;
}

.download_app_text{
display: flex;
flex-direction: column;
align-items: center;
}

.download_app_text h2{
margin-bottom: 0;
margin-top: 0;
font-size: 2.8rem;
}

.download_app_text p{
font-size: 1.4rem;
margin-top: 1rem;
}

footer .surface{
margin-bottom: 1rem;
margin-top: 0;
}

footer.download{
margin: 0;
}

.footballer_block .athlets{
padding-left: 7%;
}

.athlets{
padding-left: 10%;
padding-right: 10%;
}

.white {
padding-left: 6%;
padding-right: 10%;
padding-top: 2rem;
padding-bottom: 5rem;
}

.footballer_block .connection, .basketballerballer_block .connection{
margin-bottom: 1rem;
}

.basketballerballer_block .white {
padding-left: 6%;
padding-right: 10%;
padding-top: 6rem;
padding-bottom: 4.5rem;
}

.grey {
padding-left: 6%;
padding-right: 10%;
padding-top: 5rem;
padding-bottom: 4.5rem;
}

.basketballerballer_block .grey {
padding-left: 6%;
padding-right: 10%;
padding-top: 5rem;
padding-bottom: 4.2rem;
}

.blue, .basketballerballer_block .blue {
padding-left: 6%;
padding-right: 10%;
padding-top: 5rem;
padding-bottom: 5rem;
}

.basketballerballer_block .athlets{
padding-left: 6%;
padding-top: 1rem;
padding-bottom: 0rem;
}

.be_active .sportsmens_zagolovok, .be_active:nth-child(-3n+3) .sportsmens_zagolovok  {
margin: 0;
padding-top: 2.5rem;
padding-bottom: 0rem;
padding-left: 2rem;
}

.be_active .sportsmens_abzac, .be_active:nth-child(-3n+3) .sportsmens_abzac {
margin: 0;
padding-top: 2rem;
padding-bottom: 7.6rem;
padding-left: 2rem;
}

.square_left, .square_right{
max-width: 70px;
height: 70px;
position: absolute;
top: -6rem;
left: 2rem;
}
}

@media(min-width: 746px){
.footballer_block img, .footballer_block picture{
position: absolute;
}

.basketballerballer_block img, .basketballerballer_block picture{
position: absolute;
}
}

@media (max-width: 900px){

.be_active {
width: 100%;
}

.be_active:nth-child(-n+1){
order: 0;
}

.be_active:nth-child(-2n+2){
order: 1;
}

.be_active:nth-child(-3n+3){
order: 3;
}

.be_active:nth-child(-4n+4){
order: 2;
}

.be_active:nth-child(-5n+5){
order: 4;
}

.be_active:nth-child(-6n+6){
order: 5;
}
}


@media (min-width: 900px) and (max-width: 1280px){
.sportsmens_abzac{
margin-top: 0;
margin-right: 1rem;
margin-left: 10rem;
}

.sportsmens_zagolovok{
font-size: 3.75vw;
margin-bottom: 0;
margin-left: 10rem;
}

.be_active:nth-child(-3n+3) .sportsmens_abzac, .be_active:nth-child(-3n+3) .sportsmens_zagolovok {
margin-left: 1rem;
}

footer::after {
background: url(./img/game_1280.jpg) no-repeat;
background-size: cover;
}
}



@media (min-width: 746px) and (max-width: 900px){
	
header {
	padding-top: 3rem;
	padding-bottom: 9rem;
}

.name{
margin-bottom: 20.7rem;
}

.top_string{
margin-left: 8.5rem;
}

.lower_string{
margin-left: 19.4rem;
}

h1{
font-size: 8vw;
letter-spacing: 0.6rem;
}

.download a{
 margin: 0 15px;
}

p{
font-size: 1.7rem;
}

h3 {
font-size: 3rem;
letter-spacing: 0.4rem;
}

.footballer_block .athlets{
padding-left: 38%;
}

.white {
padding-bottom: 5rem;
padding-top: 4rem;
padding-left: 38%;
padding-right: 6%;
}

.grey{
padding-bottom: 5rem;
padding-left: 38%;
padding-right: 6%;
}

.blue{
padding-top: 3rem;
padding-bottom: 2rem;
padding-left: 38%;
padding-right: 6%;
}

.connection{
margin-bottom: 2rem;
}

.footballer_block {
 padding-top: 6rem;
}

.basketballerballer_block .athlets{
padding-bottom: 3.5rem;
padding-top: 6.2rem;
padding-left: 4%;
}

.basketballerballer_block .white {
padding-bottom: 5rem;
padding-top: 0;
padding-left: 4%;
}

.basketballerballer_block .grey {
padding-top: 3rem;
padding-bottom: 4rem;
padding-left: 4%;
}

.basketballerballer_block .blue {
padding-bottom: 4.5rem;
padding-left: 4%;
}

.sportsmens_abzac{
margin-top: 0;
margin-right: 7rem;
margin-left: 3rem;
margin-bottom: 8rem;
}

.sportsmens_zagolovok{
font-size: 3.75vw;
margin-bottom: 3rem;
margin-left: 3rem;
margin-top: 6.5rem;
padding: 0;
}

.be_active:nth-child(-3n+3) .sportsmens_abzac, .be_active:nth-child(-3n+3) .sportsmens_zagolovok{
margin-left: 3rem;
}

.be_active:nth-child(-3n+3) .sportsmens_abzac {
margin-top: 0rem;
margin-bottom: 8rem;
}


.square_left, .square_right{
max-width: 115px;
height: 115px;
position: absolute;
top: -8.5rem;
left: 3.5rem;
}
   
.download_app div{
margin-left: auto;
margin-right: auto;
}

.download_app_text{
display: flex;
flex-direction: column;
align-items: center;
}

footer{
padding-top: 13rem;
padding-bottom: 2rem;
}

footer .download {
margin-top: 30rem;
}
}

@media (min-width:746px) and (max-width: 1599px) {

.connection{
width: 46%;
margin-right: 14%;
 }


.basketballerballer_block img, .basketballerballer_block picture{
width: 435px;
top: 2rem;
right: 0;
}  
}

@media (min-width: 746px) and (max-width: 1599px) {
   .footballer_block img, .footballer_block picture{
width: 500px;
top: 4.5rem;
right: 34%;
}  
}
